html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #a10415;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}

main {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    background-color: #fff;
}

header {
    position: relative;
}

section {
    position: relative;
}

.imgBlock {
    display: block;
    margin: 0 auto;
}

nav {
    position: absolute;
    width: 100%;
    top: 9%;
    transform: translate(0, -50%);
}

.logo_nav {
    width: 14%;
}

.flechas {
    position: absolute;
    display: grid;
    left: 50%;
    bottom: 12%;
    transform: translate(-18%, 0);

    img {
        width: 36%;
    }

    .flecha_1 {
        margin: 0 0 -9%;
    }
}

.logo_roja {
    display: block;
    margin: 0 auto;
}

.container {
    padding: 2rem 1.5rem;
}

.borde_aba {
    font-size: 2.2rem;
    line-height: 3rem;
    font-family: 'Helvetica';
    text-align: center;
    padding: 0 0 1rem;
    margin-bottom: 4rem;
    position: relative;
    border-bottom: solid 2px #000;
}

h1 {
    font-family: 'ITC Franklin Gothic Std';
    font-weight: 900;
    font-size: 7rem;
    line-height: 1;
    text-align: center;
    margin: 1rem 0;
}

.atencion {
    font-family: 'ITC Franklin Gothic Std';
    font-weight: 500;
    text-align: center;
    font-size: 2.6rem;
}

.swiper {
    width: 100%;
}

.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto 3rem;

    .menu_btn {
        cursor: pointer;
        border: solid 1px #000;
        font-family: 'ITC Franklin Gothic Std';
        font-weight: 500;
        font-size: 2.2rem;
        line-height: 2.2rem;
        text-align: center;
        height: 100%;
        display: grid;
        align-items: center;
        padding: .5rem 1rem;
    }
}

.active {
    background-color: #000;
    color: #fff;
}

.menu_slider {

    p {
        font-family: 'ITC Franklin Gothic Std';
        font-weight: 400;
        font-size: 2.3rem;
        text-align: center;
        margin: 2rem 0 0;
    }
}

p.menu_slider_bg {
    background-color: #000;
    padding: 1rem;
    color: #fff;
    margin: 0;
    font-size: 1.7rem;
}

footer {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -8%);
    z-index: 1;
    width: 100%;

    p {
        color: #fff;
        font-family: 'ITC Franklin Gothic Std';
        font-weight: 500;
        text-align: center;
        font-size: 1.8rem;
        line-height: 2rem;
    }

    h2 {
        color: #fff;
        font-size: 4rem;
        line-height: 4.2rem;
        font-family: 'ITC Franklin Gothic Std';
        font-weight: 900;
        text-align: center;
        margin: 0 0 1.4rem;
    }

    .mensaje {
        font-family: 'Helvetica';
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        padding: 2rem .5rem 1.5rem;
        color: #fff;
        text-align: center;
        border: solid 4px #fff;
        border-top: none;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 38%;
            height: 4px;
            background-color: #fff;
            top: 0;
            left: 0;
        }

        &::before {
            content: '';
            position: absolute;
            width: 38%;
            height: 4px;
            background-color: #fff;
            top: 0;
            right: 0;
        }
    }
}

.icono_ig {
    margin: 0 auto -22px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding: 1rem;
}

.mensaje_final {
    font-family: 'ITC Franklin Gothic Std';
    font-weight: 500;
    font-style: italic;
    margin: 1rem 0 0;
}


.flecha_1 {
    animation: arrowAnimation 3s ease-out infinite;
}

.flecha_2 {
    animation: arrowAnimation 3s ease-out infinite;
}

@keyframes arrowAnimation {
    0% {
        transform: translateY(0);
        opacity: .85;
    }
    50% {
        opacity: 1;
        transform: translateY(50px);
    }
    100% {
        opacity: .75;
        transform: translateY(0);
    }
}

.nav_fixed {
    position: fixed;
    top: 0;
    left: 50%;
    right: 0;
    width: 100%;
    max-width: 60rem;
    background-color: #fff;
    padding: 1rem;
    z-index: 10;
    transform: translate(-50%, -100%);
    transition: ease-in-out .3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav_on {
    transform: translate(-50%, 0);
    transition: ease-in-out .3s;
}