:root {
    --orange1: #f2511b;
    --azul-oscuro: #0b5394;
    --azul-medio: rgb(61, 133, 198);
    --dark-night: #0000008a;
    --cream-bg: #00000008;
}


body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

/* loader */

.loader {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    z-index: 2;
    text-align: center;
    transform: scale(1);
    transition: ease .5s;
}
    .off-loader {
        transform: scale(0);
    }

/* fin loader */

/* Colores */
.bg-azul-oscuro {
    background-color: var(--azul-oscuro);
}
.bg-azul-medio {
    background-color: var(--azul-medio);
}
.bg-dark-night {
    background-color: var(--dark-night);
}
.bg-cream {
    background-color: var(--cream-bg);
}
/* Fin colores */

/* FULL IMG */

.full-img {
    width: 100%;
    display: block;
}

.full-img-greyscale {
    width: 100%;
    display: block;
    filter: grayscale(65%);
}

/* MENÚ */

header {
    position: fixed;
    background-color: #000000;
    padding: 7px;
    width: 100%;
    z-index: 2;
}

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }

        li {
            display: inline-block;
            padding: 7px;
        }

            li a {
                display: block;
                color: #fff;
                padding: 7px;
                position: relative;
                text-decoration: none;
            }
                li a::before {
                    background-color: #efefef;
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    transition: ease-out .3s;
                    -webkit-transition: ease-out .3s;
                    -moz-transition: ease-out .3s;
                }
                li a:hover::before,
                li a:focus::before,
                li a:active::before {
                    width: 100%;
                }
                .active::before {
                    width: 100%;
                }

.hamburguer {
    cursor: pointer;
    display: none;
    background: white;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 20px;
    padding: 6px;
}
    .hamburguer div {
        background-color: #000;
        height: 3px;
        margin-top: 3px;
        transition: ease-out .3s;
        -webkit-transition: ease-out .3s;
        -moz-transition: ease-out .3s;
        transform: rotate(0) translate(0, 0);
        opacity: 1;
    }
        div.pan_ok {
            transform: rotate(-40deg) translate(-5px, 4px);
        }
        div.lechuga_ok {
            transform: translate(-12px, 0px);
            opacity: 0;
        }
        div.queso_ok {
            transform: rotate(40deg) translate(-5px, -4px);
        }
        .hamburguer::before {
            color: #fff;
            font-size: 13px;
            content: 'Menú';
            position: absolute;
            top: 10px;
            right: -42px;
            transition: ease-out .3s;
            -webkit-transition: ease-out .3s;
            -moz-transition: ease-out .3s;
        }
        .cerrar_hamburg::before {
            content: 'Cerrar';
        }

.shadow {
    display: none;
    background-color: #000000b3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    transform-origin: right;
    transform: scale(0,1);
    transition: cubic-bezier(0.4, 0, 0.2, 1) .1s;
    -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) .1s;
    -moz-transition: cubic-bezier(0.4, 0, 0.2, 1) .1s;
}
    .shadow__invoke { transform: scale(1,1); }

/* FIN MENÚ */


.wrapper {
    position: relative;
}

.f-raleway {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}


/* fonts sizes */

.fw-lg { font-weight: lighter; }
.fw-400 { font-weight: 400; }

/* fin fonts sizes */

h1 {
    font-size: 40px;
}

h2 {
    font-size: 34px;
    padding: 25px;
    margin: 0 0 50px;
}

p {
    font-size: 20px;
    font-weight: 100;
}

.tx-center { text-align: center; }

/* Colores */

.text-orange1 { color: var(--orange1) }
.text-white { color: #fff; }
.text-dark { color: rgb(17, 17, 17); }

/* fin colores */


/* backgrounds */

.bg-orange1 { background-color: var(--orange1) }

/* fin backgrounds */

section {
    text-align: center;
    padding: 100px 10px;
}

/* Elementos */

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 980px;
}

/* Fin elementos */

/* Altos y Anchos */

.h-100 { height: 100%; }

/* Fin altos y anchos */


/* Centrar contenido verticalmente */

.table-100 {
    display: table;
    width: 100%;
    height: 100%;
}

.table-cell-100 {
    display: table-cell;
    vertical-align: middle;
}

/* fin centrado */


/* MARGINS */

.mt-1 { margin-top: 10px; }
.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: 20px; }
.mb-2 { margin-bottom: 40px; }

.my-0 { 
    margin-top: 0;
    margin-bottom: 0;
}

/* END MARGINS */

/* Padding */

.pt-150 { padding-top: 150px; } 
.pt-250 { padding-top: 250px; } 

/* fin Padding */


/* Proyectos */

.proyecto {
    cursor: pointer;
    border: solid #bfbfbf;
    box-sizing: border-box;
    transition: ease-in-out .5s;
    position: relative;
    margin: 20px;
    padding: 5px;
}

    .proyecto:hover {
        background-color: #6b6b6b8e;
    }


/* Slick slider */

.slider .slick-next { right: -6px; z-index: 1; }
.slider .slick-prev { left: -6px; z-index: 1; }
.slider .slick-prev:before, 
.slider .slick-next:before { color: black; }
.slider .slick-dots li button:before { font-size: 12px; }
.slider .slick-prev:before, .slider .slick-next:before { font-size: 18px; }


.container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto); /*auto es el alto de la caja*/
    grid-gap: 0; /*margen de separación entre cajas*/
}

.container-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
}

    .ver-ahora {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #212121d1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: ease-in-out .2s;
        -webkit-transition: ease-in-out .2s;
        -moz-transition: ease-in-out .2s;
        width: 0;
    }
        .ver-ahora p {
            color: #fff;
            font-style: italic;
            margin: 0;
            padding: 10px;
            transition: ease-in-out .5s;
            -webkit-transition: ease-in-out .5s;
            -moz-transition: ease-in-out .5s;
            opacity: 0;
            visibility: hidden;
        }

    .proyecto:hover .ver-ahora {
        width: 100%;
    }
    .proyecto:hover .ver-ahora p {
        opacity: 1;
        visibility: visible;
    }

    .proyecto a {
        text-decoration: none;
    }

    .gallery-item {
        cursor: pointer;
        border: solid 2px #757575;
        padding: 5px !important;
        transition: ease-in-out .3s;
        -webkit-transition: ease-in-out .3s;
    }
    .gallery-item:hover {
        background-color: #0000001c !important;
    }

/* Fin proyectos */


footer {
    padding: 100px 0 200px;
    text-align: center;
}


/* media queries */

@media (max-width: 860px){

    .shadow {
        display: block;
    }

    .hamburguer {
        display: block;
    }

    header {
        position: fixed;
        background-color: #000000;
        padding: 7px;
        width: 100%;
        height: 40px;
        z-index: 2;
    }
        header .menu {
            background-color: #000000cc;
            position: absolute;
            left: 0;
            top: 54px;
            bottom: 0;
            height: 100%;
            min-height: 800px;
            padding: 50px;
            width: 150px;
            z-index: 10;
            transition: cubic-bezier(0.65, 0.05, 0.36, 1) .4s;
            -moz-transition: cubic-bezier(0.65, 0.05, 0.36, 1) .4s;
            -webkit-transition: cubic-bezier(0.65, 0.05, 0.36, 1) .4s;
            transform: translate(-100%, 0px);
        }
            header .menu_on {
                transform: translate(0%, 0px);               
            }
            header .menu li {
                display: block;
                padding: 10px;
            }

    .container-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 604px) {

    .container-grid {
        grid-template-columns: repeat(1, 1fr);
    }

}